* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#baton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

#baton div {
    width: 10px;
    height: 150px;
    background-color: pink;
}